#flex_div_rrb{
    display: flex;
    padding: 15px;
}
#appending_news_rrb img{
    height:200px;
    width:300px;
}
#appending_news_rrb{
    width:70%;
    margin: auto;
    text-align: justify;
}
#flex_div_rrb div{
    margin: 12px;
}
hr{
    border: 0.1px dotted black;
    margin-top: 10px;
    width: 90%;
    margin: auto;
}